.site-header h1 {
    color: white;
    position: relative;
    bottom: 1.2em;
    text-shadow: 2px;
    background-color: black;
}

.header {
    margin-top: 3%;
    height: 60px;
    background-color: black;
}

.header h1 {
    color: white;
    position: relative;
    top: 20%;
    bottom: 0.5%;
}

.products-gallery {
    margin-top: 30px;
}